.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding:15px 20px;
    width: 100%;
    background-color: #282828;
  }

.footer__right * .MuiSlider-root {
   color: green;
  }
  .footer__left {
    display: flex;
    align-items: center;
    color: white;
    min-width: 150px;
    flex: 0.3;
  }

  .footer__albumLogo {
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
  }
.footer__songInfo{
  width: 90%;
}

.footer__songInfo *{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

  .footer__songInfo > h4 {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .footer__songInfo > p {
    font-size: 12px;
  }